.activityInput {
	/* margin-top: 50vh; */
	margin-top: 40vh; /* temporary */
	display: flex;
}

.input {
	border-radius: 25px;
	border: 0;
	width: 530px;
	margin-right: 8px;
	padding-left: 24px;
	font-size: 1.25rem;
	font-family: "Inter", sans-serif;
	filter: drop-shadow(0px 4px 22px rgba(70, 70, 70, 0.14));
}

.mic {
	background: white;
	height: 50px;
	width: 50px;
	display: flex;
	border-radius: 25px;
	justify-content: center;
	align-items: center;
	filter: drop-shadow(0px 4px 22px rgba(70, 70, 70, 0.14));
	border: none;
}
