.buttons {
	margin-top: 60px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.play {
	display: flex;
	background: #79ff57;
	filter: drop-shadow(0px 0px 25px #96f77d);
	padding: 24px;
	border-radius: 50px;
}

.pause {
	display: flex;
	background: #ffef4a;
	/* filter: drop-shadow(0px 0px 25px #FFEF4A); */
	padding: 16px;
	border-radius: 50px;
}

.done {
	display: flex;
	background: #79ff57;
	/* filter: drop-shadow(0px 0px 25px #79FF57); */
	padding: 16px;
	border-radius: 50px;
	margin-left: 30px;
}

.pauseDone {
	display: flex;
}
